<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
	<add key="mySqlName" value="florin"></add>
	<add key="mySqlPassword" value="123321"></add>
	<add key="mySqlIP" value="localhost"></add>
	<add key="numeBaza" value="euromedica"></add>
	</appSettings>
</configuration>